.one-x-three-greed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);  
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.div1-1x3 {
  grid-area: 1 / 1 / 5 / 2;
}
.div2-1x3 { 
  grid-area: 1 / 2 / 6 / 5;
}
