.auth-form {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  background-color: var(--carbone);
  padding: 20px;
}

.auth-form h1 {
  margin-bottom: 15px;
  font-size: var(--xl);
}

.auth-form h1 a {
  color: var(--light-carbone);
  border-bottom: 1px dashed var(--light-carbone);
}

.auth-form h2 {
  text-align: end;
  margin-bottom: 10px;
  font-size: var(--l)
}

.auth-form h2 a {
  color: var(--pearl-gray);
  border-bottom: 1px dashed var(--aluminium)
}

.auth-form label {
  font-size: var(--m);
}
