input {
  border: none;
  background-color: var(--aluminium);
  display: block;
  width: 100%;
  color: var(--dark-carbone);
  background: var(--aluminium);
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  margin: 7px 0;
  font-weight: 600;
  font-size: large;
}

input[type="file"] {
  display: none;
  padding: 10px;
}
input[type="number"] {
  width: 100px;
  border: 1px solid var(--carbon) !important;
}
input.mark {
  border: 2px solid var(--carbone);
  text-align: center;
}