a {
  text-decoration: none;
  color: var(--white);
  background-color: transparent;
  width: auto;
  margin: 10px;
  font-weight: 300;
}
.active {
  font-weight: 600;
  border-bottom: var(--white) 2px solid;
}