.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.radio input {
  min-width: 50px;
  max-width: min-content;
  position: absolute;
  right: -5px;
  top: 12px;
}

.radio label {
  width: 25px;
  position: relative;
  color: var(--carbone)
}

.radio.mark {
  width: max-content;
  margin-right: 10px;
  margin-bottom: -20px;
  margin-top: 15px;
  margin-left: 20px;
  align-items: baseline;
  position: relative;
}
.radio.mark label {
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
}
.radio.mark button {
  width: max-content;
  height: max-content;
  background: transparent;
  position: absolute;
  left: -20px;
  bottom: 10px;
}