html {
  --bgMainColor: #0E1C2B;
  --bgSecondaryColor: #17212c;

  --mainTextColor: #D5E9FF;
  --secondaryTextColor: #94A3B2;
  
  --accentColor: #60B26B;
  
  --shadowColor: #9caa9ebf;
  
  --errorPrimary: #910000;
  --errorSecondary: #C5191C
} 
